body{
    font-family:"Roboto", sans-serif;
}

.custom-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}
.custom-navbar .nav-link{
    color: white !important;
}

.custom-navbar .navbar-brand img{
    height: 42px;
}

.custom-navbar .dropdown-toggle{
    color: white !important;
}


.hero-banner {
  background-image: url(../images/img1.jpg);
  height: 860px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner > .container-fluid {
  height: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner > .container-fluid > p {
  color: #FFFFFF;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
}

.hero-banner > .container-fluid > .prize {
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.hero-banner span{
    font-weight: 400 ! important;
    font-size: 14.7px;
    font-family:"Roboto", sans-serif;
    line-height: 22.05px;
}

.hero-banner button{
    width: 166.83px;
    height: 54.5px;
    top: 556.64px;
    left: 876.58px;
    border-radius: 12px;
    border: 1px;
    background-color: #E7C873;

}

.hero-banner h6{
    font-weight: 400 ;
    font-size: 17px !important;
    line-height: 32.3px;
    color:#FFFFFF;
    display: flex;
    gap: 18.54px;
    font-family:"Roboto", sans-serif;
}






.phone{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.phone i{
    font-size: 14px;
}

.profile{
    width: 42px;
    height: 42px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.profile i{
    font-size: 15px;
}

.property-btn{
  width: 148.22px;
  height: 42.5px;
  top : 50px;
  left: 1711.78px;
  border-radius: 50px;
  border: 1px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: medium;
    line-height: 28.5px;
}

.property-btn:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.header-right a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.cities div h2{
    font-weight: 500;
    font-size: 40px;
    font-style: medium;
    line-height: 52px;
    text-align: center;
}

.cities div p{
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.cities{
    margin-top: 165px;
}

.cities img{
    width: 100%;
    height: 100%;
} 

.cities .col-12{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cities .imgbox
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.work .col-lg-12 h2
{
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 145px; 
}

.work .col-lg-12 p{
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
    margin-bottom: 40px;

}

.signin .row{
    background-color:#1F4B43;
    border-radius: 16px;
    margin-top: 175.25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.signin .col-lg-7 h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.signin .col-lg-7 p{
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    color:  #FFFFFF;
}


.signin .col-lg-5{
    display: flex;
    justify-content: end;
    align-items: center;
}

.signin button
{
    font-weight: 500;
    font-size: 15px;
    line-height: 54px;
    text-align: center;
    width: 272.05999755859375;
    height: 54;
    top: 94.14px;
    left: 872.94px;
    border-radius: 12px;
    background: #E7C873;
    padding-left: 30px;
    padding-right: 30px;
    color: #1F4B43;
}

.properties .xyz h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 165px;
}

.properties .xyz p{
    font-weight: 400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
}

.properties .xy {
    text-align: center;
    margin-bottom: 40px;
    gap: 25px;
}

.properties .col-lg-4{
    gap: 30px;
}

.properties .b button {
    font-weight: 500;
    font-size: 15px;
    line-height: 54px;
    color:#1A1A1A;
    background-color:#E7C873;
    border-radius: 60px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

.properties .b{
    text-align: center;
}

.properties .org
{
    margin-top: 30px;
}

.view{
    background-image: url(../images/img8.jpg);
    width: 100%;
    height: 750px;
    opacity: 1;
    margin-top: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view .discover {
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 29.29px;
}

.view .discover p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30.4px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 29.3px;

}

.view .bu button{
    font-weight: 500;
    font-size: 15px;
    line-height: 54px;
    border-radius: 12px;
    background-color: #E7C873;
    color: #1A1A1A;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.view .bu{
    text-align: center;
}

.world{
    margin-top: 165px;
}

.world img{
    height: 100%;
    width: 100%;
}

.world .x h2{
    font-weight: 500;
    font-size: 40px;
}

.world .x p{
    font-weight: 400;
    font-size: 16px;
}

.world .row .col-6 h2{
    font-weight: 500;
    font-size: 40px;
}

.world .row .col-6 p{
    font-weight: 400;
    font-size: 15px;
}

.world .but button{
    background-color: #E7C873;
    border-radius: 12px;
    color:#1A1A1A;
    font-weight: 500;
    font-size: 15px;
    line-height: 52px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.design{
    background-color:#1A1A1A;
    margin-top: 165px;
    padding-bottom: 155px;
    padding-top: 155px;
}

.design .row .col-lg-6 h1{
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}

.design .row .col-lg-6 h3{
    font-weight: 500;
    font-size: 26px;
    color:#FFFFFF;
}

.design .row .col-lg-6 p{
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
}
.design .a .d-flex img{
    width: 90px;
    height: 90px;
}
.design .a{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.design .bc h3{
    font-weight: 500;
    font-size: 19px !important;
}
.design .bc p{
    font-weight: 400;
    font-size: 15px;
}
.design .col-lg-6 p{
    font-weight: 500;
    font-size: 19px;
}
.design .first{
    margin-bottom: 86px;
}
.design .second p{
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-align: center;
}

.recent .container h1{
    font-weight:500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-top: 165px;
}
.recent .container p{
    font-weight:400;
    font-size: 17px;
    line-height: 32.3px;
    text-align: center;
    margin-bottom: 45px;
}


.recent img{
    gap: 30px;
}


@media (max-width:991px) {
    .img-box
    {
        padding-top: 40px;
    }
}

.recent .col-lg-3{
    margin-bottom: 160px;
}

.start{
    background-color:#1F4B43;
    border-radius: 16px;
}

.start .col-lg-8 span{
    background-color: #FFFFFF1F;
    border-radius: 36px;
    color: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width:fit-content;
}
.start  h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color:#FFFFFF;
    margin-bottom: 19.75px;
}
.start p{
    color:#FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
    margin-bottom: 35.25px;
}

.start .col-lg-6 .p{
    background-color: #FFFFFF;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 37.83px;

}

.start .col-lg-4 img{
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.start hr{
     height:55px;
            width:1px;
            background:#d3d3d3;
            border:none;
            opacity:1;
            margin:0 20px;
}
.start .b h4{
    font-weight: 400;
    font-size: 13px;
}
.start .b h3{
    font-weight: 500;
    font-size: 16px;
}
.start .gp h4{
    font-weight: 400;
    font-size: 13px;
}
.start .gp h3{
    font-weight: 500;
    font-size: 16px;
}

.stay h2{
    font-weight: 500;
    font-size: 40px;
    line-break: 40px;
}
.stay p{
    font-weight: 400;
    font-size: 15px;
    line-height: 28.5px;
}
.stay img{
    margin-top: 100px;
}
.last p
{
    margin-top: 44.25px;
}

